@font-face{
    font-family: "decorativa";
    src: url(../fonts/decorativa\ 2°.ttf)
}
@font-face{
    font-family: "padrao";
    src: url(../fonts/LexendDeca-Regular.ttf)
}

$fonte-decorativa: "decorativa";
$fonte-padrao: "padrao";